.other{
    width : 100%;
    height : 90vw;
    background-color : $blue2;
}  

  
  .other_head_p {
    font-size : 1.75vw;
    width : 85%;
    padding-left : 3.66vw;
    line-height: 4.68vw;
  }
  
  .other_heading {
    position: relative;
    width: 69.54vw;
    height : 4.68vw;
    background-color: $yellow2;
    background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgb(230,223,173)), color-stop(30%,rgb(246,239,184)),color-stop(100%,rgb(246,243,220)));  
    background-image: -moz-linear-gradient( 270deg, rgb(230,223,173) 0%, rgb(246,239,184) 30%, rgb(246,243,220) 100%);
    background-image: -webkit-linear-gradient( 270deg, rgb(230,223,173) 0%, rgb(246,239,184) 30%, rgb(246,243,220) 100%);
    background-image: -ms-linear-gradient( 270deg, rgb(230,223,173) 0%, rgb(246,239,184) 30%, rgb(246,243,220) 100%);
    background-image: linear-gradient( 270deg,  rgb(230,223,173) 0%, rgb(246,239,184) 30%, rgb(246,243,220) 100%); 
    box-shadow: 0px 10px 10px 0px rgba(32, 32, 32, 0.2);
    font-size: 1.32vw;
    margin: 0 auto;
    margin-top: 2.196vw;
    cursor: pointer;
  }

  
  
  .other_heading:first-child {
    margin-top: 0;
  }
  
  .symbol {
      position: absolute;
      top: 50%;
      right: 0.73vw;
      transform: translateY(-50%);
      display: block;
      border: 1px solid #222;
      border-radius : 50%;
      width: 3.21vw;
      height: 3.21vw;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
  }
  
  .symbol:before, .symbol:after {
      display: block;
      content: '';
      background-color: #222;
      position: absolute;
      width: 1.32vw;
      height: 0.15vw;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .symbol:before {
      width: 0.15vw;
      height: 1.32vw;
  }
  
  .other_block{
      padding : 2.19vw 3.66vw ;
      line-height : 2.04vw;
  }

  .other_p {
    display : none;
    width: 69.6vw;
    background-color : $white;
    font-size: 1.17vw;
    margin: 0.73vw auto 0 auto;
  }
  
  .other_heading.selected .symbol:before {
      content: normal;
  }
  .accordion dd {
      display: none;
  }

  .accordion{
      margin-top: 0;
  }

  @media(max-width :767px){
    .other{
      height : 310vw;
  }  
  
      .other_head_p {
      font-size : 4.8vw;
      display : block;
      width : 70.66vw;
      padding-left : 4vw;
      line-height : 8.4vw;
      padding-top : 2.7vw;
      padding-bottom : 2.7vw; 
    }
    
    .other_heading {
      position: relative;
      width: 100%;
      height : 21.6vw;
      font-size: 4.8vw;
      margin: 0 auto;
      margin-top: 8vw;
      cursor: pointer;
    }
    
    .other_heading:first-child {
      margin-top: 0;
    }
    
    .symbol {
        right: 4vw;
         width: 11.73vw;
        height: 11.73vw;

    }
    
    .symbol:before, .symbol:after {

        width: 6.4vw;
        height: 0.26vw;

    }
    .symbol:before {
        width: 0.26vw;
        height: 6.4vw;
    }
    
    .other_block{
        padding :4vw ;
        line-height : 5.6vw;
    }
  
    .other_p {
      width: 100%;
      font-size: 1.2rem;
      margin: 0.8vw auto 0 auto;
    }
    
    .other_heading.selected .symbol:before {
        content: normal;
    }
    .accordion dd {
        display: none;
    }
  
    .accordion{
        margin-top: 0;
    }
  }