
/*申し込みの流れ*/
.flow{
    position : relative;    
}

.flow_no{
    display :block;
    color : $blue1;
    font-size : 2.63vw;
    font-weight : 700;
    text-decoration: underline;
    line-height : 2.63vw;
    margin-top: 3.14vw;
}

.flow_head{
    display : block;
    font-size : 2.63vw;
    margin-top : 1.5vw;
}

.swiper {
    width: 100%;
    height: 40.26vw;
    text-align: center;
    font-size: 32px;
  }
  
        
  .swiper-slide {
    width: 40.4vw !important;
    height: 17.56vw;
    background-color : #fff;
    position : relative;
    box-sizing :border-box;
    border : 5px solid #b5e9ee;
    border-radius : 30px;
    text-align : center;
    box-shadow: 0px 10px 10px 0px rgba(32, 32, 32, 0.2);
    margin-right : 4vw !important;
    margin-left : 4vw !important;
    border-radius: 30px; 
}

  
  .swiper-button-next, .swiper-button-prev {
      width : 4.4vw;
      height : 4.4vw;
  }
  

  .swiper-button-prev:after {
    width : 4.4vw;
    height : 4.4vw;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f053';
  font-size : 2.05vw;
  color : #000;
  line-height : 4.4vw;
  background-color : #f6f3dc;
  border-radius : 50%;

}

.swiper-button-next:after {
    width : 4.4vw;
    height : 4.4vw;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  font-size : 2.05vw;
  color : #000;
  line-height : 4.4vw;
  background-color : #f6f3dc;
  border-radius : 50%;
}

  .swiper-pagination{
      font-size : 2.05vw;
      z-index : -10;
  }
  
  .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity : 100 !important;
  }
  
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
      right :40% ;
      margin-top : 2.19vw;
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
      left : 40%;
      margin-top : 2.19vw;
  }
  
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
      bottom : 35%;
  }


  .flow::before {
    border-color: transparent transparent transparent $blue2;
    border-style: solid;
   border-width: 7.32vw 0 0 100vw;
    bottom: 0;
    content: "";
    height: 0;
    position: absolute;
  }

  @media(max-width :767px){
 .flow{
     height : 92vw;
 }
    
    .flow_no{
        font-size : 5.3vw;
        line-height : 5.3vw;
        margin-top: 5.6vw;
    }
    
    .flow_head{
        display : block;
        font-size : 5.3vw;
        margin-top : 1vw;
    }
    
    .swiper {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 32px;
      }
      
       
      
      .swiper-slide {
          width: 69.86vw !important;
          height: 28.8vw;
          background-color : #fff;
          position : relative;
          box-sizing :border-box;
          border : 5px solid #b5e9ee;
          border-radius : 30px;
          text-align : center;
          box-shadow: 0px 10px 10px 0px rgba(32, 32, 32, 0.2);
          margin-right : 2.12vw !important;
          margin-left : 2.12vw !important;
          border-radius: 10px; 
      }
      
      .swiper-button-next, .swiper-button-prev {
          width : 16vw;
          height : 16vw;
      }
      

  .swiper-button-prev:after {
    width : 16vw;
    height : 16vw;
  font-size : 7.46vw;
  line-height : 16vw;
}

.swiper-button-next:after {
  width : 16vw;
  height : 16vw;
font-size : 7.46vw;
line-height : 16vw;
}
      .swiper-pagination{
          font-size : 6.4vw;
          top : 35vw;
      }
      
      .swiper-button-next, .swiper-rtl .swiper-button-prev {
          right :16vw;
          top:32vw
      }
      .swiper-button-prev, .swiper-rtl .swiper-button-next {
          left : 16vw;
          top :32vw;
      }
      
      .flow::before {
        border-color: transparent transparent transparent $blue2;
        border-style: solid;
       border-width: 7.32vw 0 0 100vw;
        bottom: 0;
        content: "";
        height: 0;
        position: absolute;
      }
  }